<div class="row">
    <div class="col-12">
        <h5 class="container my-5 col-md-4 ">Welcome To Ice Creams Parlour</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="container my-5 col-md-4 shadow rounded-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input formControlName="email" type="text" class="form-control" id="email" aria-describedby="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input formControlName="phone" type="text" class="form-control" id="phone" aria-describedby="phone">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Address</label>
                    <input formControlName="address" type="text" class="form-control" id="address"
                        aria-describedby="address">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Date</label>
                    <input formControlName="date" type="date" class="form-control" id="date" aria-describedby="date">
                </div>
                <!-- dynamic part -->
                <h4>select your order</h4>
                <div formArrayName="arr" *ngFor="let a of myForm.get('arr').controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Type the flavor of ice-cream</label>
                            <input formControlName="IceCreamName" type="text" class="form-control" id="IceCreamName"
                                aria-describedby="IceCreamName">
                        </div>
                        <div class="mb-3">
                            <label class="container my-5 col-md-4 shadow rounded-6" for="exampleInputEmail1"
                                class="form-label">Quantity</label>
                            <input class="container my-5 col-md-4 shadow rounded-6" formControlName="quantity"
                                type="text" class="form-control" id="quantity" aria-describedby="quantity">
                        </div>
                        <button class="btn btn-danger" (click)="removeItem(i)">Delete order</button>
                    </div>
                </div>
                <div class="pad">
                    <button type="button" class="btn btn-primary addbutton" (click)="addItem()">Add
                        order</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>